<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About Us</title>
</head>
<body>

    <header>
        <h1>About Our Company</h1>
    </header>

    <section class="main-content">
        <div class="company-info">
            <h2>Welcome to Our Company</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod mauris vel justo
                varius, nec ullamcorper dolor ultrices. Fusce tristique risus ut leo fringilla,
                a ultricies mauris scelerisque.
            </p>
        </div>

        <div class="founders">
            <h2>Meet Our Founders</h2>
            <ul>
                <li>yousra</li>
                <li>mostafa</li>
                <li>mohammed</li>
            </ul>
        </div>
    </section>



</body>
</html>

