<h1 class="bg-success">{{product.storeName}}</h1>

  <!-- property binding [] -->
  <img [src]="product.storeLogo" id="logo" alt="">
  <label for="clientName">Enter Your Name:</label>
  <!-- banana inbox -->
<input [(ngModel)]="product.clientName" id="clientName" placeholder="Your Name">
<!-- {{}} interpulation it show thing in html from ts -->
<h2>{{product.clientName}}</h2>

  <div class="dropdown mb-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      categories
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let item of product.categoryList"><a class="dropdown-item" href="#">{{item.name}}</a></li>
      <!-- <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li> -->
    </ul>
  </div>

<!-- <app-Nav></app-Nav> -->

<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.productList[0].name}}</h5>
    <p class="card-text">{{product.productList[0].price}}</p>
    <a href="#" class="btn btn-primary">add to card</a>
  </div>
</div> -->



<div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col" *ngFor="let item of product.productList ">
    <div class="card">

      <img [src]="item.img" class="card-img-top" [alt]="item.name">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.price}}</p>
        <a href="#" class="btn btn-primary">add to card</a>

      </div>
    </div>
  </div>
  <!-- <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.productList[1].name}}</h5>
        <p class="card-text">{{product.productList[1].price}}</p>
        <a href="#" class="btn btn-primary">add to card</a>

      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
      </div>
    </div>
  </div> -->
</div>
